---
import { vstack } from '@styles/patterns';
---

<div
  class={vstack({
    overflow: 'hidden',
    bgColor: '$terminal.bg',
    borderColor: '$border',
    borderWidth: '1px',
    borderRadius: '$lg',
    gap: 0,
    fontFamily: '$mono',
    width: '$full',

    transitionProperty: 'background-color, border-color',
    transitionDuration: '{$animations.theme.duration}',
    transitionTimingFunction: '{$animations.theme.easing}',

    _motionReduce: {
      transition: 'none',
    },
  })}
>
  <slot />
</div>
