---
import { css, cx } from '@styles/css';
---

<div
  class={cx(
    'terminal-command',
    css({
      display: 'flex',
      gap: '$2',
      alignItems: 'center',
      opacity: 0,
      transform: 'translateY(-4px)',
      transitionProperty: 'opacity, transform',
      transitionDuration: '$slow',
      transitionTimingFunction: 'ease-out',

      '&.is-visible': {
        opacity: 1,
        transform: 'translateY(0)',
      },
    }),
  )}
>
  <span class={css({ color: '$primary' })}>➜</span>
  <span class="terminal-content">
    <slot />
  </span>
</div>
