---
import IconSun from '@icons/icon-sun.svg';
import IconMoon from '@icons/icon-moon.svg';
---

<label for="theme-toggle">
  <IconSun />
  <IconMoon />
  <input type="checkbox" name="theme-toggle" id="theme-toggle" />
</label>
