---
import Container from '@components/container.astro';
import '../index.css';
import { vstack } from '@styles/patterns';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@400&family=Space+Grotesk:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <title>Developer Portfolio | system.init()</title>
  </head>
  <body class={vstack({ alignItems: 'center' })}>
    <Container>
      <slot />
    </Container>
  </body>
</html>

<script is:inline>
  window.matchMedia('(prefers-color-scheme: dark)').matches
    ? document.documentElement.classList.add('dark')
    : document.documentElement.classList.remove('dark');
</script>
